# Beispiel-Layout einer wg0.conf. Echte Werte ausfuellen, dann verschluesseln:
#   sops -e --age $(cat vps.age.pub) wg0.conf > wg0.conf.enc
#   rm wg0.conf

[Interface]
PrivateKey = <BASE64-PRIVATE-KEY-OF-THIS-PEER>
Address = 10.0.0.2/32
DNS = 10.0.0.1

[Peer]
PublicKey = <BASE64-PUBLIC-KEY-OF-HOME-PEER>
Endpoint = home.example.org:51820
AllowedIPs = 10.0.0.0/24
PersistentKeepalive = 25
